#calendar-container{
    width: 70px !important;   
}

#event-calendar-template{
    width: auto;
    margin: 0 auto;
    /* height: 130px; */
    /* border: 2px solid black; */
    border-top-right-radius: 8px;
    /* margin: 0 30px 0 auto; */
    /* margin: 200px auto; */
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    /* box-shadow: 2px 2px 45px rgba(42, 41, 41, 0.671); */
}

h5#calendar-month{
    border-bottom: 2px solid black;
    /* border: 2px solid black; */
    color: black;
    font-size: 25px;
    font-weight: 600;
    /* background-color: black; */
    margin: 0 auto;
    /* width: 100%; */
    padding: 5px 5px 0 5px;
    font-family: 'Josefin Sans';
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    /* height: 25px; */
}

h4#calendar-day{
    font-size: 45px;
    font-family: 'Karla';
    font-weight: 600;
    color: red;
    /* background-color: black; */
    margin: 0 auto;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h4#calendar-year{
    border-top: 2px solid black;
    /* background-color: black; */
    /* padding: 5px; */
    /* width: 100%; */
    color: black;
    margin: 0 auto;
    font-family: 'Karla';
    font-size: 25px;
    font-weight: 600;
}

@media(min-width: 767px){
    div#calendar-container{
        width: 265px;   
    }
}