#calendar-container{
    width: 70px !important;   
}

#bio-header{
    margin-top: 220px;
    margin-bottom: -160px;
    font-size: 40px;
}

#bio-body{
    background-color: rgba(0, 0, 0, 0.924);
    /* height: 100vh !important; */
}

#event-calendar-template{
    width: auto;
    margin: 0 auto;
    /* height: 130px; */
    /* border: 2px solid black; */
    border-top-right-radius: 8px;
    /* margin: 0 30px 0 auto; */
    /* margin: 200px auto; */
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    /* box-shadow: 2px 2px 45px rgba(42, 41, 41, 0.671); */
}

h5#calendar-month{
    border-bottom: 2px solid black;
    /* border: 2px solid black; */
    color: black;
    font-size: 25px;
    font-weight: 600;
    /* background-color: black; */
    margin: 0 auto;
    /* width: 100%; */
    padding: 5px 5px 0 5px;
    font-family: 'Josefin Sans';
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    /* height: 25px; */
}

h4#calendar-day{
    font-size: 45px;
    font-family: 'Karla';
    font-weight: 600;
    color: red;
    /* background-color: black; */
    margin: 0 auto;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h4#calendar-year{
    border-top: 2px solid black;
    color: black;
    margin: 0 auto;
    font-family: 'Karla';
    font-size: 25px;
    font-weight: 600;
}

#bio-container{
    margin: 40px auto;
}

.bio-images{
    width: 95vw;
    margin: 0 auto !important;
    border-radius: 4px;
}

.bio-paragraph{
    width: 95vw;
    margin: 0 auto;
    color: white;
    text-align: justify !important;
    text-indent: 15px;
}

#carousel-container{
    width: 95vw;
    margin: 0 auto;
}

#bottom-image-container{
    display: flex;
    justify-content: center;
}

@media(min-width: 767px){
    div#calendar-container{
        width: 265px;   
    }

    #bio-container{
        margin: 120px 0 40px 0;
    }

    .bio-images{
        width: 50vw;
        /* filter: saturate(180%); */
    }

    .bio-paragraph{
        width: 70vw;
    }
}

@media(min-width: 1439px){

    #bio-container{
        margin: 0 auto 120px auto;
        width: 80vw;
        align-self: center;
    }
  
    #bio-upper{
        display: flex;
        justify-content: space-around;
        align-items: center !important;
        margin: 170px auto !important;

    }

    .bio-paragraph{
        width: 40vw;
        padding: 0 60px 0 0!important;
        text-align: center;
        font-size: 20px;
    }

    .bio-images{
        width: 500px;
        margin: 0 !important;
    }

    #bio-lower{
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        margin: 0 auto 0 40px !important;
        align-items: center !important;
    }

    #lower-paragraph{
        margin: 0 auto !important;
        align-items: center !important;
    }
}