#contact-main-container{
    margin: 120px auto;
    width: 95vw;
    background-color: rgba(0, 0, 0, 0.459);
    border: 2px solid rgba(255, 255, 255, 0.137);
}

form{
    margin: 0 auto !important;
    align-items: center !important;
}

.form-title{
    color: white;
    text-align: left !important;
    /* display: block; */
    margin: 0 auto !important;
}

.form-input{
    width: 92vw;
    height: 5vh;
    border-radius: 8px;
    margin: 0 auto !important;
}

#message{
    width: 92vw;
    height: 15vh;
}

@media(min-width: 767px){
    #contact-main-container{
        max-width: 610px;
    }

    .form-input{
        max-width: 600px;
    }

    #message{
        max-width: 600px;
    }
}