#contact-main-container{
    margin: 120px auto;
    width: 95vw;
    background-color: rgba(0, 0, 0, 0.459);
    border: 2px solid rgba(255, 255, 255, 0.137);
}

form{
    margin: 0 auto;
    align-items: center !important;
}

label.form-title{
    color: white;
    text-align: left !important;
    display: block;
    margin: 0 auto !important;
}

.form-input{
    width: 80vw;
    height: 5vh;
    border-radius: 8px;
    margin: 0 auto !important;
}

#message{
    width: 80vw;
    height: 15vh;
}