#event-container{
    width: 95vw !important;
    margin: 0 auto;
}

#page-label-hide{
    display: none;
}

#event-header{
    /* backdrop-filter: blur(3px); */
    /* width: max-content; */
    font-size: 40px;
    color: white !important;
    margin: 140px auto -40px auto;
    font-weight: 600;
}

#gig-preview-card{
    display: flex;
    justify-content: space-evenly !important;
    align-items: center;
    /* margin: 10px 45px !important; */
    margin: 5px auto;
    /* width: 72vw; */
}

#gig-label-border{
    border: 1PX solid black;
    max-width: 510px !important;
    margin: 0 auto;
}

.gig-preview-border{
    border: 1PX solid rgba(0, 0, 0, 0.164);
    width: 80vw;
    margin: 0 auto;
}

#labels{
    /* width: 560px; */
    display: flex;
    /* justify-content: space-evenly !important; */
    padding-top: 10px;
    margin-right: 20px;
}

#labels h4{
    color: black;
    font-size: 25px;
    font-weight: 600;
}

.event-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px !important;
    /* margin: 0 0 0 10px; */
    width: 150px;
}

.event-details h4{
    text-align: left !important;
    font-family: 'Karla';
    color: black;
    font-size: 19px;
    font-weight: 600;
    margin: 5px;
}

.event-name{
    text-overflow: wrap;
}

.dates h4{
    /* width: 30px; */
    text-align: left;
    color: black;
    font-family: 'Play';
    font-size: 15px;
    font-weight: 600;
}

#date-column{
    width: 120px !important;
}

#event-column{
    text-align: left;
    margin-left: 0;
    width: 280px !important;
}

.eventpage-link{
    width: min-content !important;
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(29, 29, 29);
}

.eventpage-link a{
    color: red !important;
    font-size: 20px;

}

@media(min-width: 767px){
    #event-container{
        width: 530px !important;
    }

    div#gig-chart{
        width: 550px !important;
    }

    #page-label-hide{
        display: inline;
    }

    #gig-preview-card{
        /* width: 270px; */
        justify-content: space-evenly !important;
        /* margin: 0 auto !important; */
    }

    /* #gig-label-border{
        max-width: 650px;
    } */
    
    .gig-preview-border{
        max-width: 650px;
    }

    #event-header{
        margin: 420px auto -100px auto;
    }

    .event-details{
        width: 205px ;
        /* height: 65px; */
        /* flex-wrap: wrap; */
    }

    .event-details h4{
        width: 250px;
        font-size: 25px;
    }

    .dates h4{
        font-size: 20px;
    }

    .eventpage-link{
        /* width: 30px !important; */
    }

    #labels h4{
        width: 225px;
    }
}

@media(min-width: 1023px){
      div#event-container{
        /* width: 700px !important; */
    }

    .event-details h4{
        /* width: 300px !important; */
    }

    #labels{
        /* justify-content: space-around !important; */
    }
}

@media(min-width: 1439px){

}

@media(min-width: 2559px){
    #event-header{
        margin: 240px auto 0 auto;
    }
}