

#upper-logo{
    max-width: 95vw;
    margin-top: 130px;
    /* margin: 100px auto !important; */
    align-content: center;
}

#home-upper-container{
    /* backdrop-filter: blur(3px); */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 300px 0 60px 0;
}

#main-logo{
    /* width: 375px; */
    margin: 0 auto;
}

#main-headshot{
    width: 95vw;
    /* height: 800px; */
    margin: 0 auto;
    align-content: center;
}

#home-header{
    /* backdrop-filter: blur(3px); */
    /* width: max-content; */
    font-size: 40px;
    color: white !important;
    margin: 130px auto -140px auto;
    font-weight: 600;
    /* padding-top: 80px;  */
}

#gig-header{
    /* backdrop-filter: blur(3px); */
    /* width: max-content; */
    font-size: 40px;
    color: red !important;
    margin: 0 auto;
    font-weight: 600;
}

#gig-labels{
    display: flex;
    justify-content: space-evenly;
}

.labels{
    color: black !important;
    font-size: 15px;
    font-family: 'Orbitron' !important;
    text-decoration: underline;
}

#gig-chart{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.561);
    width: 95vw !important;
    margin: 200px auto;
}

#latest-music-container{
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto !important;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 8PX;
}

#latest-music-header{
    /* backdrop-filter: blur(3px); */
    width: max-content;
    font-size: 40px;
    color: red !important;
    margin: 0 auto;
    font-weight: 600;
}

.latest-music-title{
    font-size: 15px;
    font-weight: 550;
    width: 340px;
    margin:  0 auto;
    border: 2px solid black;
    background-color: black;
}

.latest-music-card{
    margin: 5px auto;
    width: 95vw;
}

.latest-music-cover{
    max-width: 540px !important;
    max-height: 260px !important;
    width: 340px !important;
    margin: 0 auto !important;
    border-top-right-radius: 18px !important;
}

.button{
    width: 250px;
    height: 35px;
    border: transparent;
    border-radius: 8px;
    background-color: rgb(29, 29, 29);
    font-size: 20px;
    /* padding: 5px; */
    color: red;
    font-family: 'Orbitron';
    margin: 10px auto !important;
    align-content: center !important;
    transition: transform .4s;
}

#news-chart{
    /* background-color: rgba(255, 255, 255, 0.561); */
    border-radius: 8px;
    width: 95vw;
    /* height: 40vh; */
}

#lower-container{
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.561); */
    border-radius: 8px;
    width: 95vw;
    /* width: 95vw; */
}

@media(min-width: 767px){
    #latest-music-container{
        width: 730px;
    }
    .latest-music-card{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between !important;
        width: 46vw;
        /* margin: 0 auto; */
    }

    #upper-logo{
        display: none;
        width: 730px;
    }

    #home-header{
        margin: 120px auto 0 auto;
    }

    #gig-chart{
        max-width: 730px;
        margin: 220px auto 0 auto;
    }

    #latest-music-header{
        margin: 140px auto 0 auto;
    }
}

@media(min-width: 1023px){
    #home-header{
        margin: 450px auto -200px auto;
    }

    #lower-container{
        flex-direction: row;
    }

    .button:hover{
        transform: scale(1.2);
    }

    #latest-music-container{
        margin: 0 auto;
        width: 90vw;
    }
    .latest-music-card{
        width: 34vw;
    }

    #gig-chart{
        width: 80vw;
    }

}

@media(min-width: 1439px){
    #home-header{
        /* margin: 450px auto -100px auto; */
        font-size: 50px;
    }

    #latest-music-container{
        width: 1400px;
    }

    .latest-music-card{
        width: 360px;
    }

    #latest-music-header{
        margin: 200px auto 0 auto;
    }
}

@media(min-width: 2559px){
    #latest-music-container{
        width: 65vw;
    }

    .latest-music-card{
        width: 530px;
    }

    #news-chart{
        width: 80vw;
    }

    #gig-chart{
        margin: 240px auto 120px auto;
    }

    #home-header{
        margin: 600px auto -150px auto;
    }
}