#page-header{
    /* backdrop-filter: blur(3px); */
    width: max-content;
    font-size: 40px;
    color: white !important;
    margin: 140px auto -40px auto;
    font-weight: 600;
}

#music-select-container{
    width: 95vw;
    margin: 120px auto !important;
    border-bottom: 2px solid red;
}

.subnav-links{
    display: flex;
    flex-direction: column;
    /* text-decoration: underline; */
}

div#singles-display{
    background-color: white;
    border-radius: 4px;
    width: 88vw !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    flex-wrap: wrap !important;
    margin: 0 auto !important;
    /* align-items: center !important; */
}

.accordion-main-body{
    background-color: rgba(255, 255, 255, 0.301) !important;
}

.video-thumbnail{
    width: 95vw;
}

.mb-3{
    display: flex;
    margin: 0 20px;
    justify-content: center !important;
    font-size: 13px;
}

.nav-link{
    color: white;
    background-color: black !important;
    border: 1px solid white !important;
}

.nav-tabs{
    border-bottom: none;
    padding: 5px !important;
    justify-content: flex-start !important;
}

ul.mb-3.nav.nav-tabs{
    /* margin: 0 auto !important; */
    display: flex;
    justify-content: center !important;
}

#remix-accordion{
    width: 95vw;
    margin: 0 auto !important;
}

@media(min-width: 767px){
    nav.mb-3.nav.nav-tabs{
        font-size: 30px;
        width: 80vw !important;
    }

    .nav-tabs{
        justify-content: flex-start !important;
        align-items: center !important;
        align-content: center;
    }

    .mb-3{
        font-size: 25px;
        justify-content: flex-start !important;
    }

    #page-header{
        margin: 420px auto -200px auto; 
    }

    #music-select-container{
        margin: 360px auto 0 auto !important;
    }
    button.accordion-button{
        width: 230px;
        margin: 0 auto;
    }
}

@media(min-width: 1023px){
    nav.mb-3.nav.nav-tabs{
        width: 80vw !important;
        font-size: 30px;
    }

    #page-header{
        margin: 420px auto -200px auto; 
    }

    #music-select-container{
        margin: 260px auto 0 auto !important;
    }
}

@media(min-width: 1439px){
    #music-select-container{
        margin: 350px auto 0 auto !important;
    }

    #page-header{
        margin: 480px auto -300px auto; 
    }

    div#singles-display{
        width: 85vw !important;
        margin: 0 auto !important;
    }

    button.accordion-button{
        width: 200px;
        align-self: center !important;
        margin: 0 auto;
    }

    #remix-tab{
        width: 80vw !important;
    }

    #remix-accordion{
        width: 90vw;
    }
}

@media(min-width: 2559px){
    div#singles-display{
        width: 50vw!important;
        margin: 0 auto !important;
    }

    nav.mb-3.nav.nav-tabs{
        max-width: 1400px !important;
    }

    #music-select-container{
        max-width: 1400px;
        margin: 450px auto 0 auto !important;
    }

    #page-header{
        margin: 640px auto -370px auto; 
        font-size: 50px;
    }

    #remix-accordion{
        width: 1348px;
    }
}