#news-container{
    /* text-align: left; */
}

div.news-card{
    text-align: left;
    width: 90vw !important;
    margin: 10px auto;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 8px;
}

div.slider{
    position: relative;
    margin: 40px auto;
}

.carousel-control-next, .carousel-control-prev{
    display: center !important;
  }