#news-container{
    /* text-align: left; */
    width: 95vw;
}

div.news-card{
    text-align: left;
    width: 90vw !important;
    margin: 10px auto;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 25px rgba(109, 108, 108, 0.438);
    border-radius: 8px;
}

.newsblog-title{
    color: red;
    font-family: 'Play';
}

.newsblog-descr{
    font-family: 'Play';
}

.newsblog-date{
    font-size: 15px;
    font-family: 'Play';
}

div.slider{
    position: relative;
    margin: 40px auto;
}

.carousel-control-next, .carousel-control-prev, div.carousel-indicators{
    display: none !important;
  }

@media(min-width: 767px){

}

@media(min-width: 1023px){
    div#news-chart{
        /* width: 45vw !important; */
        padding: 10px;
    }

}

@media(min-width: 1439px){
    div.news-card{
        max-width: 1000px !important;
    }

    div#news-container{
        margin: 0 auto !important;
        max-width: 1200px;
    }
    
}

@media(min-width: 2559px){
    div#news-container{
        margin: 100px auto 0 auto !important;
    }
}