#youtube-container{
    margin: 10px auto;
    display: flex !important;
    /* width: 95vw !important; */
}

h4.youtube-titles{
    text-align: left;
    font-family: 'Play';
    font-size: 15px;
    border-radius: 8px;
    padding: 5px;
    font-weight: 600;
}

div.youtube-card{
    width: 340px;
    background-color: black;
    margin: 0 auto;
    height: 321px;
}

div.videoplayer{
    max-width: 540px !important;
    max-height: 260px !important;
    width: 340px !important;
    margin: 0 auto !important;
}

@media(min-width: 767px){
    #youtube-container{
        /* height: 100%; */
        /* display: flex !important; */
        /* flex-direction: row; */
        /* flex-wrap: wrap !important; */
        justify-content: space-around !important;
        /* width: 340px !important; */
    }

    div.videoplayer{
        width: 340px !important;
        height: 260px !important;
    }
    
    .youtube-card{
        width: 340px !important;
        margin: 1.5px !important;
    }
}

@media(min-width: 1023px){
    div.youtube-card{
        /* width: 80vw; */
    }
    
    /* div.videoplayer{
        height: 60vh !important;
    } */
}

@media(min-width: 1439px){
    /* div.youtbe-card{
        max-width: 1140px !important;
    } */
    /* div.videoplayer{
        max-width: 1140px !important;
        max-height: 800px !important;
    } */
}