h4.youtube-titles{
    text-align: left;
    font-family: 'Play';
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 8px;
    padding: 5px;
}

.center-con {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.round {
    position: relative;
    /* border: 3px solid #fff; */
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

div.round div {
    /* z-index: 20; */
    height: 3px;
    margin:1px;
    width: 30px;
    background: #32bacc !important;
    transition: 0.4s ease;
}