body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto !important;
    text-align: center !important;
    align-content: center !important;
    background-size: 100%;
    background-image: url("https://res.cloudinary.com/acurunner79/image/upload/v1631939180/soltrix-02_opu5k4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed !important;
    background-color: black !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a, ul, li, h1, h2, h3, h4, h5{
  font-family: 'Orbitron',sans-serif;
  color: white ;
  margin: 0;
  text-align: center;
}

img#mobile-logo{
  width: 80vw;
  height: 14vh;
  position: fixed;
  left: -12vw;
  top: -1.4vh;
  z-index: 30;
}

@media(min-width: 767px){
  img#mobile-logo{
    display: none;
  }
}